name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"

      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.5.3"

      - run: flutter pub get

      - run: flutter test --coverage
      
      - name: Upload coverage to codecov
      - uses: codecov/codecov-action@v2
          
  build_qa_apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"

      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "2.5.3"

      - run: flutter pub get
        working-directory: example

      - run: flutter build apk
        working-directory: example

      - name: Archive APK
        uses: actions/upload-artifact@v2
        with:
          name: QA APK
          path: example/build/app/outputs/flutter-apk/app-release.apk
          retention-days: 2

